@import "mocha.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 19px;
  min-height: 0;
}

window#waybar {
  background: transparent;
}


#language {
    padding-left: 1px;
    padding-right: 1px;
    border-radius: 12px 12px 12px 12px;
    transition: none;
    color: @surface0;
    background: transparent;
}


#tray,
#network,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @surface0;
  margin: 7px 3px 3px 7px;
  padding: 7px 7px 7px 7px;
  border-radius: 1rem;
}

#clock {
  color: @lavender;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#network {
    color: @sky;
}

#backlight {
  color: @yellow;
}

#pulseaudio {
  color: @pink;
}

#pulseaudio.muted {
    color: @red;
}

#custom-power {
    border-radius: 1rem;
    color: @red;
    margin-bottom: 1rem;
}

#tray {
  border-radius: 1rem;
}

tooltip {
    background: @base;
    border: 1px solid @pink;
}


tooltip label {
    color: @text;
}
